---
# Create the directory tree
- name: Create configuration directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0750'
  loop:
    - "{{ traefik_path }}"
    - "{{ traefik_path }}/conf.d"

- name: "Copy configuration file"
  ansible.builtin.template:
    src: traefik.yml.j2
    dest: "{{ traefik_path }}/traefik.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0640'
  notify: restart docker traefik

- name: "Copy dashboard configuration"
  ansible.builtin.template:
    src: traefik_dashboard.yml.j2
    dest: "{{ traefik_path }}/conf.d/traefik_dashboard.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0640'
  when: traefik_dashboard is true

# Docker-compose configuration
- name: Setup docker-compose file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ traefik_path }}/docker-compose.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0640'
  notify: restart docker traefik

# Allow traffic to traefik
- name: UFW - Allow connections to traefik
  community.general.ufw:
    rule: allow
    port: "{{ item.1.port }}"
    src: '{{ item.0 }}'
  with_items:
    - "{{ traefik_listening | product(traefik_entrypoints) | list }}"
  become: true

# Execute all the actions of the handlers that have been notified.
# It allows the container to restart or build itself before ensuring that
# it is actually running. We need to ensure it is running in case you
# run the task after nothing has been changed by the container was stopped.
- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Ensure the traefik server is running
  community.docker.docker_compose:
    project_src: "{{ traefik_path }}"
  become: true
