version: "3"

services:

  # More info at https://doc.traefik.io/traefik/user-guides/docker-compose/basic-example/
  traefik:
    restart: unless-stopped
    image: "{{ traefik.image }}"
    ports:
{% for entrypoint in traefik.entrypoints %}
      - "{{ entrypoint.port }}:{{ entrypoint.port }}"
{% endfor %}
    # Allow traefik to connect to all the container exposed on the following bridge network
    networks:
      - proxy
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_path }}/traefik.yml:/traefik.yml:ro"
      - "{{ traefik_path }}/conf.d/:/etc/traefik/conf.d/"

networks:
  proxy:
    driver: bridge