global:
  # Send anonymous usage data
  sendAnonymousUsage: false

log:
  level: {{ traefik.log_level }}

serversTransport:
  insecureSkipVerify: true

api:
  dashboard: {{ traefik.dashboard | lower }}

entryPoints:
{% for entrypoint in traefik.entrypoints %}
  {{ entrypoint.name }}:
    address: ":{{ entrypoint.port }}"
{% if entrypoint.redirect is defined %}
    http:
      redirections:
        entryPoint:
          to: {{ entrypoint.redirect }}
          scheme: https
          permanent: true
{% endif %}
{% endfor %}

providers:
  file:
    directory: "/etc/traefik/conf.d"
    watch: true
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik_proxy

tls:
{% if traefik.certificates is defined and traefik.certificates|length > 0 %}
  # Use existing self-signed certificates
  certificates:
{% for certificate in traefik.certificates %}
    - certFile: "{{ certificate.cert }}"
      keyFile: "{{ certificate.key }}"
{% endfor %}
{% endif %}
  options:
    default:
      minVersion: VersionTLS12
    mintls13:
      minVersion: VersionTLS13
{% if traefik.client_auth is defined %}
{% for client_auth in traefik.client_auth %}
    # mTLS configuration for {{ client_auth.name }}
    {{ client_auth.name }}:
      clientAuth:
        # in PEM format. each file can contain multiple CAs.
        caFiles:
{% for ca_file in client_auth.ca_files %}
          - {{ ca_file }}
{% endfor %}
        clientAuthType: {{ client_auth.auth_type }}
{% endfor %}
{% endif %}

{% if traefik.certificatesResolvers.letsencrypt.enabled %}
certificatesResolvers:
  default:
    acme:
      email: "{{ traefik.certificatesResolvers.letsencrypt.email }}"
      caServer: "{{ traefik.certificatesResolvers.letsencrypt.ca_server }}"
      storage: "/etc/traefik/acme.json"
      httpChallenge:
        # used during the challenge
        entryPoint: "{{ traefik.certificatesResolvers.letsencrypt.http_challenge.entrypoint }}"
{% endif %}
